<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">File Setting </h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card" >

        <div class="card-body">
                <form class=""  (ngSubmit)="submit()">
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <select class="form-select" id="AffairTypeId" #activity
                                        formControlName="AffairTypeId">
                                        <option value="0">casetype</option>
                                    </select>
                                        <label for="AffairTypeId">Affair TypeId</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="FileName"  
                                        formControlName="FileName">
                                    <label for="FileName">File Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                   
                                        <select class="form-select" id="FileType" #activity
                                        formControlName="FileType">
                                        <option value="0">files</option>
                                        <option value="1">text</option>
                                    </select>
                                    <label for="FileType">File Type</label>
                                </div>
                            </div>     
                        </div>

                    </div>
                    <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                            (click)="closeModal()">Close</button>
                        <button type="button" type="submit" [disabled]="!settingForm.valid"
                            class="btn btn-success">Create</button>
                    </div>
                </form>


              
            


        </div>
    </div>

</div>