<form cForm [formGroup]="uploadForm" novalidate (ngSubmit)="submit()" class="needs-validation">

    <c-modal-body>


        <c-card class="mb-4">
            <c-card-body>

                <c-row>
                    <c-col lg="6 ">


                        <div class="mb-3" lg="4">
                            <label for="OrganizationBranchId" class="form-label">Organizational Branch</label>
                            <select class="form-control" formControlName="OrganizationBranchId" type="text" id="OrganizationBranchId">
                                <option>--Select Branch----</option>
                                <option *ngFor="let branch of branchList " value={{branch.Id}}>{{branch.Name}}</option>

                            </select>

                        </div>
                        <div class="mb-3" lg="4">
                            <label for="ParentStructureId" class="form-label">Parent Structure</label>
                            <select class="form-control" formControlName="ParentStructureId" type="text" id="ParentStructureId">
                                <option>--Select Parent Structure----</option>
                                <option *ngFor="let parentStru of parentStructureList " value="{{parentStru.Id}}">{{parentStru.Name}}</option>

                            </select>

                        </div>
                        <div class="mb-3" lg="4">
                            <label for="StructureName" class="form-label">StructureName</label>
                            <input class="form-control" formControlName="StructureName" type="text" id="StructureName">
                        </div>
                        </c-col>
                        <c-col lg="6 ">

                        <div class="mb-3" lg="4">
                            <label for="Order" class="form-label">Order</label>
                            <input class="form-control" formControlName="Order" type="text" id="Order">
                        </div>
                        <div class="mb-3" lg="4">
                            <label for="Weight" class="form-label">Weight</label>
                            <input class="form-control" formControlName="Weight" type="text" id="Weight">
                        </div>
                        <div class="mb-3" lg="4">
                            <label for="Remark" class="form-label">Remark</label>
                            <input class="form-control" formControlName="Remark" type="text" id="Remark">
                        </div>
                    </c-col>
                </c-row>

            </c-card-body>
        </c-card>


    </c-modal-body>
    <c-modal-footer>
        <button (click)="onModalClose()" cButton color="secondary">
            Close
        </button>
        <button cButton type="submit" class="text-white" color="success">Save changes</button>
    </c-modal-footer>
</form>