<c-row>
    <c-col xs="12">

    </c-col>
    <c-col lg="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Organizational Profile</strong>
            </c-card-header>
            <c-card-body>
                <p class="text-medium-emphasis small">
                    Setup Organizational Profile
                </p>
                <form cForm [formGroup]="uploadForm" novalidate (ngSubmit)="submit()" class="needs-validation">
                    <c-card class="mb-4">
                        <c-card-body>

                            <c-row>
                                <c-col lg="4">
                                    <img [src]="imageURL" style="width: 100%;" [alt]="uploadForm.value.name">
                                </c-col>
                                <c-col lg="8">
                                    <c-row>
                                        <c-col lg="6">


                                            <div class="mb-3" lg="4">
                                                <label for="formFile" class="form-label">Logo</label>
                                                <input class="form-control" #file (change)="showPreview($event)"
                                                    type="file" id="formFile" accept="file_type | image/* | media_type">
                                            </div>
                                            <div class="mb-3" lg="4">
                                                <label for="name" class="form-label">Organization English
                                                    Name</label>
                                                <input id="name" class="form-control" type="text "
                                                    formControlName="organizationNameEnglish">
                                            </div>
                                            <div class="mb-3" lg="4">
                                                <label for="localName" class="form-label">Organization Local
                                                    Name</label>
                                                <input id="localName" class="form-control" type="text "
                                                    formControlName="organizationNameInLocalLanguage">
                                            </div>
                                            <div class="mb-3" lg="4">
                                                <label for="code" class="form-label">SMS Code </label>
                                                <input id="code" class="form-control" type="number"
                                                    formControlName="smscode">
                                            </div>
                                            <div class="mb-3" lg="4">
                                                <label for="password" class="form-label">Password</label>
                                                <input id="password" class="form-control" type="password"
                                                    formControlName="password">
                                            </div>


                                        </c-col>
                                        <c-col lg="6">

                                            <div class="mb-3" lg="4">
                                                <label for="address" class="form-label">Address</label>
                                                <input id="address" class="form-control" type="text "
                                                    formControlName="address">
                                            </div>
                                            <div class="mb-3" lg="4">
                                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                                <input id="phoneNumber" class="form-control" type="text "
                                                    formControlName="phoneNumber">
                                            </div>
                                            <div class="mb-3" lg="4">
                                                <label for="username" class="form-label">Username</label>
                                                <input id="username" class="form-control" type="text"
                                                    formControlName="username">
                                            </div>
                                            <div class="mb-3" lg="4">
                                                <label for="remark" class="form-label">Remark</label>
                                                <textarea id="remark" rows="4" class="form-control" type="text "
                                                    formControlName="remark"></textarea>
                                            </div>
                                            
                                          


                                          


                                           
                                        </c-col>
                                    </c-row>
                                    <hr/>
                                    <div class="mb-3 text-right" style="text-align: end;" lg="4">
                                        <button cButton class="me-1 text-white" type="submit" color="success"
                                            type="submit">
                                            {{uploadForm.value.id!=null?"Update":"Save"}}

                                        </button>
                                    </div>

                                </c-col>

                            </c-row>

                        </c-card-body>
                    </c-card>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>