<main id="main" class="main">
    <div class="pagetitle">
       <h1>Cases</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Case</li>
             <li class="breadcrumb-item active">Type</li>
          </ol>
       </nav>
    </div>
    <div class="text-end col-lg-12">
       <button class="btn btn-primary text-end mb-3" (click)="addCaseType()"> Add Case Type </button>
    </div>
    <section class="section profile">
      <div class="card p-3"  >
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Case Type Tittle</th>
                     <th scope="col">Remark</th>
                     <th scope="col">Elaps(hr)</th>
                     <th scope="col">Measurement Unit</th>
                     <th scope="col">Status</th>
                     <th scope="col">Total Payment</th>
                     <th scope="col">SMS Code</th>
                     
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let casetype of caseTypes; let i = index">
                     <th scope="row">{{i+1}}</th>
                     <td>{{casetype.CaseTypeTitle}}</td>
                     <td>{{casetype.Remark}}</td>
                     <td>{{casetype.TotalPayment}}</td>
                     <td>{{casetype.MeasurementUnit}}</td>
                     <td>{{casetype.RowStatus}}</td>
                     <td>{{casetype.TotalPayment}}</td>
                     <td>{{casetype.Code}}</td>
                   
                  </tr>

                  
               </tbody>
            </table>
       
        
      </div>
 


        
      
    </section>
 </main>