<main id="main" class="main">
    <div class="pagetitle">
       <h1>Cases</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Case</li>
             <li class="breadcrumb-item active">Type</li>
          </ol>
       </nav>
    </div>
    <div class="text-end col-lg-12">
       <button class="btn btn-primary text-end mb-3" (click)="addCaseType()"> Add Case Type </button>
    </div>
    <section class="section profile">
      <div class="card p-3"  >
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Case Type Tittle</th>
                     <th scope="col">Remark</th>
                     <th scope="col">Elaps(hr)</th>
                     <th scope="col">Measurement Unit</th>
                     <th scope="col">Status</th>
                     <th scope="col">Totla Payment</th>
                     <th scope="col">SMS Code</th>
                     
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <th scope="row">1</th>
                     <td>የቆሸሹ ቆጣሪዎችን መጥረግ</td>
                     <td></td>
                     <td>2</td>
                     <td>Hour</td>
                     <td>Active</td>
                     <td>100</td>
                     <td>123</td>
                     <td>ICON</td>
                  
                  </tr>
                  <tr>
                     <th scope="row">2</th>
                     <td>የተፋቁ ፤ ያረጁና ዘገምተኛ ቆጣሪዎችን መቀየር</td>
                     <td></td>
                     <td>100</td>
                     <td>Minutes</td>
                     <td>Active</td>
                     <td>1234</td>
                     <td>1234</td>
                     <td>ICON</td>
                  
                  </tr>
                  
               </tbody>
            </table>
       
        
      </div>
 


        
      
    </section>
 </main>