<c-row>
    <c-col lg="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Program Budget Year</strong>
                <button class="position-absolute top-0 end-0 " style="color: white;" color="success"
                    (click)="toggleCreateBudgetYear()" cButton>Add Program Budget Year</button>
            </c-card-header>

            <c-card-body>

                <p class="text-medium-emphasis small">
                    List Program Budget Years
                </p>
                

                <mat-card>
                    <mat-card-content>
                        <mat-form-field >
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)"  placeholder="" #input>
                          </mat-form-field>
                          
                          
                          <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                          
                          
                              <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
                              </ng-container>
                          
                            
                              <ng-container matColumnDef="FromYear">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> From Year </th>
                                <td mat-cell *matCellDef="let row"> {{row.FromYear}} </td>
                              </ng-container>
                          
                          
                              <ng-container matColumnDef="ToYear">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> To Year </th>
                                <td mat-cell *matCellDef="let row"> {{row.ToYear}} </td>
                              </ng-container>
                          
                          
                              <ng-container matColumnDef="Remark">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Remark </th>
                                <td mat-cell *matCellDef="let row"> {{row.Remark}} </td>
                              </ng-container>
                              <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                <td mat-cell *matCellDef="let row"> 
                                <button mat-icon-button color="primary">
                                    <mat-icon>edit</mat-icon>

                                </button>   
                                <button mat-icon-button color="warn">
                                    <mat-icon>delete</mat-icon>

                                </button>  
                                
                                </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          
                              <!-- Row shown when there is no matching data. -->
                              <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                              </tr>
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Program Budget Year"></mat-paginator>
                          </div>
                    </mat-card-content>
                  </mat-card>
           
            </c-card-body>
        </c-card>
        
    </c-col>
    
      
</c-row>
<c-modal id="CreateBudgetYear" [visible]="createVisible" (visibleChange)="handleCreateBudgetYearChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Add Program Budget Year</h5>
        <button (click)="toggleCreateBudgetYear()" cButtonClose></button>
    </c-modal-header>
    <form cForm [formGroup]="uploadForm" novalidate (ngSubmit)="submit()" class="needs-validation">

        <c-modal-body>
            <c-card class="mb-4">
                <c-card-body>

                    <c-row>


                        <c-row>
                            <c-col lg="12">


                                <div class="mb-3" lg="4">
                                    <label for="name" class="form-label">Name</label>
                                    <input class="form-control" formControlName="Name" type="text" id="name">
                                </div>

                                <div class="mb-3" lg="4">
                                    <label for="FromYear" class="form-label">From Year</label>
                                    <input class="form-control" formControlName="FromYear" type="number" id="FromYear">
                                </div>
                                <div class="mb-3" lg="4">
                                    <label for="ToYear" class="form-label">To Year</label>
                                    <input class="form-control" formControlName="ToYear" type="number" id="ToYear">
                                </div>
                                <div class="mb-3" lg="4">
                                    <label for="Remark" class="form-label">Remark</label>
                                    <textarea class="form-control" formControlName="Remark" rows="2" type="text" id="Remark"></textarea>
                                </div>

                            </c-col>
                        </c-row>

                    </c-row>
                </c-card-body>
            </c-card>


        </c-modal-body>
        <c-modal-footer>
            <button (click)="toggleCreateBudgetYear()" cButton color="secondary">
                Close
            </button>
            <button cButton type="submit" class="text-white" color="success">Save changes</button>
        </c-modal-footer>
    </form>

</c-modal>




  


