<main id="main" class="main">
    <div class="pagetitle">
       <h1>Plans</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Plans</li>
             <li class="breadcrumb-item active">List</li>
          </ol>
       </nav>
    </div>
    <div class="text-end col-lg-12">
       <button class="btn btn-primary text-end mb-3" (click)="addPlan()"> Add Plans </button>
    </div>
    <section class="section profile">
       <div class="row">
<!-- 
         <div class="col-lg-6"*ngFor="let program of Programs" >
        
            <div class="card"  >
               <div class="card-header">{{program.ProgramName}}</div>
               <div class="card-body">
                  <h5 class="card-title">
                     
                     {{program.ProgramBudgetYear}}
                  </h5>

                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Structure Name</th>
                           <th scope="col">Structure Head</th>
                           
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <th scope="row">1</th>
                           <td>Brandon Jacob</td>
                           <td>Designer</td>
                        
                        </tr>
                        <tr>
                           <th scope="row">2</th>
                           <td>Bridie Kessler</td>
                           <td>Developer</td>
                        
                        </tr>
                        <tr>
                           <th scope="row">3</th>
                           <td>Ashleigh Langosh</td>
                           <td>Finance</td>
                        
                        </tr>
                        
                     </tbody>
                  </table>
                  Planned Budegt: {{program.ProgramPlannedBudget}} <br/>
                 {{program.Remark}}
               </div>
               <div class="card-footer"> Projects: {{program.NumberOfProjects}}</div>
            </div>
       
         </div> -->
 
       </div>
    </section>
 </main>
