<main id="main" class="main">
    <div class="pagetitle">
        <h1>Task Detail</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Task</li>
                <li class="breadcrumb-item active">Detail</li>
            </ol>
        </nav>
    </div>
    <div class="text-end col-lg-12">
        <!-- <button class="btn btn-primary text-end mb-3" (click)="addTask()"> Add Tasks </button> -->
    </div>
    <section class="section profile">

      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            
        </div>
      </div>
    </section>
</main>